/* feuille de style*/
:root{
    --greyback:#f8f9fa;
    --greytext:#a9aaaa;
    --orange:#ff9900;
    --black:#000000;
    --white: #ffffff;
    --grey : #999999;
    --greystrong:#4a4a4b;
    --green:#a2c0be;
    --greenstrong:#567876;
}
body{
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
    margin:0;
}
    /*header*/
header{
    background-color:var(--greyback);
}

.container{
    width: 60%;
    margin: auto;
}

    /*barre de navigation*/
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

nav ul{
    margin: 0px 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:50px;    
}

nav ul li a{
    text-decoration: none;
    color: var(--greytext);
    transition: opacity 500ms;
    opacity: 0.5;
}
nav ul li a:hover{
    opacity: 1;
    transition: opacity 500ms;
}
    /* logo*/ 
nav .logo{
    color: var(--black);
    font-size: 30px;
    text-decoration: none;
}
nav .logo .dot{
    color: var(--orange);
}
    /*fin du logo*/

    /*élements titre & slogan*/
header .slogan{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    /*titre*/
header h1{
    font-size: 3em;
    font-weight: lighter;
    margin-bottom: -20px;
}
header h2{
    font-weight:lighter;
    color: var(--greytext);
    font-size: 1.3em;
}
    /*image du bulldog*/
header img{
    width: 35%;
}

/*fin du header*/

/*main*/
/*1er paragraphe élement 1*/ 
main .welcom{
    width: 65%;
    margin:auto;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 40px;
}
main .welcom h3{
    font-size: 1.3em;
    margin-bottom: -10px;
    margin: 0;
}

main .welcom p{
    color: var(--greystrong);
    font-weight: 0.7em ;
}

/*les3 boutons "read more"*/ 
.btn{
    text-decoration: none;
    color: var(--white);
    background-color: var(--green);
    border-radius: 100px;
    width: 20%;
    padding: 10px 20px;
    transition: background-color 500ms;
}
.btn:hover{
    background-color: var(--black);
    transition: background-color 500ms;
}

/*3 sections cards*/ 
main .cards{
    display: flex;
    justify-content: space-between;
    gap:150px;
    margin: 50px 0;
    text-align: right;
    align-items: center;
}
main .cards img{
    width: 100%;
    margin: auto;
    box-shadow: 6px 6px 0px var(--green);
}
main .cards p{
    color: var(--greystrong);
    margin-bottom: 40px;
}
main .cards div:nth-child(2){    
    text-align: left;
}

/*footer*/
footer{
    text-align: center;
    background-color: var(--greystrong);
    padding: 20px 10%;
    color: var(--white);
}